body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
.topcloud{
    height: 100px;
    width: 300px;
    position: absolute;
    top: 40px;
    right: 40px;
}
.bottomcloud{
    height: 100px;
    width: 300px;
    position: absolute;
    top: 200px;
    left: 40px;
    
}
.mountain{
    height: 400px;
}
h1{
    margin: 0;
    padding-top: 100px;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
   



}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 500;
    font-style: bold;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
    

}
p{
    line-height: 2;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.rem{
    font-size: 2rem;
}

.top{
    background-color: #E4F9F5;
   
}
img{
    position: relative;
   
    width: 50%;
    
}
.nvyaimage{
     height: 200px;
     width: 200px;
     border-radius: 50%;
}
a{
    color: #11999E;
}
.computer{
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
   
}
.chillies{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill1{
    padding-left: 100px;
    margin-left: 20px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 200px auto 200px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  hr{
      border-width: 2px;
      margin: 100px auto;
      width: 4%;
      border-style: dotted none none none;
      color: grey;
     
      
  }
  .middle-container{
      margin-top: 100px;
  }
  .intro{
      width: 30%;
      margin: auto ;
  }
  .contactmessage{
      width: 40%;
      margin: 40px auto 60px;
  }
  .bottom-container{
      margin-top: 100px;
      background-color: #66BFBF;
      padding-top: 40px;
  }
  a{
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
  }
  .footer{
      margin-bottom: 0px;
      color: #EAF6F6;
      font-size: 0.75rem;
  }
  a:hover{
      color: #ffffff;
  }

